@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Base setup  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #444;
}

/* Header */
header {
  height: 40vh;
  background: linear-gradient(to bottom right, #ebf4f538, #b5c6e042),
    url('./budget.jpg') right center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


